/*Ai grija la best-practiceuri: folosim clase, cautam pe google, nu copiem fara sa intelegem, avem grija la specificitate*/

html,
body {
    
    background-color: black;
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    margin: 0;       
    padding: 0;   
    width: 100%;
}

input,
select,
textarea,
button {
    font-family: inherit;

}

h1 {
    color:white;
    font-size: 60px;
    text-transform: uppercase;
    margin-bottom: 0px;
}

h3 {
    
    color: white;
    font-family: 'Open Sans';
    font-size:22px;
    font-weight: normal;
    opacity: 0.7;

}
    
nav {
    background-color: black;
    box-sizing: border-box;
    color: white;
    display: flex;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    justify-content: space-between;
    padding: 30px;
    position:fixed;
    width: 100%;
    z-index: 1;

    
}

.background-image {

    background: url('images/background-picture.jpg') no-repeat center center fixed;
    background-color: black;
    background-size: cover;
    filter: alpha(opacity=50);
    height: 100%;
    opacity: 0.5;

}

.bar-titles {
    
    margin:5px;
    color:white;
    text-decoration: none;


}

.container{
    align-items:center;
}
.text-father {
    left: 50%;
    position: absolute;
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);

}

.title{
    font-size: 28px;
}


.button {

    background-color: #4CAF50;
    border: none;
    border-radius: 2px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    padding: 15px 32px;
    text-align: center;
}

